

body{
    padding: 0;
    margin: 0;
    display: flex;
    place-content: center;
    color: black;
}
.foftxt{
    font-size: 30rem;
    transform: skewY(14deg);
    position: absolute;
    -webkit-text-stroke: 10px #242526;
    color: transparent;
    font-weight: 600;
    user-select: none;
    overflow: hidden;

}
#oi4{
    color: #242526;
    vertical-align: 5rem;
}


.fofinfo{
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    bottom: 25vh;
    position: absolute;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.fofinfo>div>div,a{
    padding:2rem;
}
.fofinfo a{
    outline: none;
    border: none;
    width: 200px;
    height: 35px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}
