html body{
	font-weight: 500;
	font-family: montserrat;
	padding: 0;
	margin: 0;
	height:fit-content;
	color: #242526;
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	background-color: whitesmoke;
	overflow-y:scroll;
	overflow-x: hidden;
	letter-spacing: 2px;
}

/* Menu start*/


.nav{ /*container*/
	width:100vw;
	min-height: 7.5vh;
	height:fit-content;
	max-height: fit-content;
	position: fixed;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: min-height 0.8s ease ;
}

#logo{
	font-size: 2.5rem;
	left:10%;
	font-weight: 600;
	position: absolute;
	color: transparent;
	-webkit-text-stroke: 1px #f5f5f5;
	transition: -webkit-text-stroke 0.4s ease;
	user-select: none;
	-webkit-user-select: none;
	letter-spacing: 3px;
	transform: skewY(10deg);
}
#logo > span{
	vertical-align: 0.25rem;
}

#logo:hover{
	cursor: pointer;
}
#twwht{
	color:#f5f5f5;
}
.menu{
	width: 30%;
	background-color:inherit;
	user-select: none;
	display: inline-flex;
	justify-content: space-evenly;
}
/* #41494e **/

.menu a {
	color:#f5f5f5;
	font-size :1.75rem;
	font-weight: 600;
	text-decoration: none;
}
.menu_a{
	color:#f5f5f5;
}

.menu ::after{
	content: ' ';
	width: 0%;
	height: 2px;
	background-color:#f5f5f5;
	display: block;
	transition: width 0.6s ease;
}
.menu :hover::after{
	width: 100%;
}

/* Menu end*/

/* content start*/
#square{
	border-radius: 20px;
	color:transparent;
	-webkit-text-stroke: 2px #f5f5f5;
	font-size: 7rem;
	left: 10%;
	position: absolute;
	font-weight: 600;
	user-select: none;
	-webkit-user-select: none;

}

#square>span{
	color:#f5f5f5;
	transform: rotate(-2deg);
	position: absolute;
}

/*#bar{
	position: absolute;
    display: none;
    /* background-color: blue; *//*
    width: 60%;
    height: 5%;
    z-index: 1;
    bottom: 10%;
    border-radius: 20px 20px 0 0;
    backdrop-filter: blur(5px);
	box-shadow: inset 1px 20px 200px 0px rgba(255, 255, 255, .5);
	animation: shrink 1.5s ease ;
	-webkit-animation: shrink 1.5s ease ;
}
*/
@keyframes rota {
	from {
		transform:rotate(0deg);
		-webkit-transform: rotate(0deg);

	}
	to{
		transform: rotate(26deg);
		-webkit-transform:rotate(26deg);
	}
}
@-webkit-keyframes rota {
	from {
		transform:rotate(0deg) ;
		-webkit-transform: rotate(0deg);
	}
	to{
		transform: rotate(26deg);
		-webkit-transform:rotate(26deg);
	}
}
.content{ /*container*/
	width: 100vw;
	height:100vh;
	display: flex;
	place-items: center;
	place-content: center;
}

#H26{
	font-size:7rem;
	color: transparent;
	font-weight: 600;
	margin: 0;
	-webkit-text-size-adjust:none;
	text-size-adjust: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; 
	letter-spacing: 3px;
	-webkit-text-stroke: 2px #f5f5f5 ;
	transform: skewY(10deg);
	overflow: hidden;
	text-align: center;
	/*animation: shrink 1.5s ease ;
	-webkit-animation: shrink 1.5s ease ;*/
}
#H26 > span{
	vertical-align: 13px;
}




.midback{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image:url("./images/pelechia-Q2Kd0Rgiw98-unsplash-min.jpg");
	
	background-position: center;
	background-size:cover;
	z-index: -1;
	/*animation: shrink 1.4s ease ;
	-webkit-animation: shrink 1.4s ease;*/
}

#date{
	position: absolute;
	left: 0;
	font-weight: 600;
	text-orientation: upright;
	-webkit-text-orientation:upright;
	text-combine-upright:digits 2;
    writing-mode: vertical-lr;
    font-size: 4.25rem;
	color:transparent;
	padding: 30px;
	user-select: none;
	-webkit-user-select: none;
	-webkit-text-stroke: 2px #f5f5f5;
	color: none;
}

/* content end*/

/* lower content start*/

#lower-content{ /*container*/
	z-index: 0;
	width:100vw;
	height: fit-content;
	min-height: 200vh;
	background-color: whitesmoke;
	top: 100%;
	justify-content: center;
	font-weight: 600;
	color:#242526;
	transform: skewY(-2deg);
}


#lower-content>div{
	padding-top: 4.5vh;
	width: 100vw;
	min-height: 80vh;
	height: fit-content;

}

.lc-container{
	width:100%;
	display: flex;
	justify-content: center;
}

.abtsct>div{
	padding-bottom: 4.5vh;
	font-size: 3.5rem;
	margin: 10px;
	-webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
	user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
	-ms-user-select: none;
	opacity: 0;
}
.abtsct>div>span{
	padding: 30px;
	display: block;
}

.abtsct>div:nth-child(even)>span{
	transform: skewY(3deg);
}


#work{
	width: 100vw; 
	height: 100vh;
	display: flex;
	place-content: center;
	place-items: center;

}

.wrkdisp{
	width: 80vw;
    height: 80vh;
	display: flex;
	place-content:center ;
	place-items: center;
}
.wrkcards{
	width: 30%;
    height: 60%;
    display: block;
    background: linear-gradient(0deg, blue, #5959ff);
    margin: 20px;
    position: relative;
	opacity: 0;
	overflow: hidden;
	border-radius: 10px;
	
}
.wrkcards:hover{
	transform: scale(1.05) !important;
	transition: scale 0.6s ease ;
}
.wrkcards>a {
	width: 100%;
	height: 100%;
	display: block;
}

.wrkcards:nth-child(odd){
	transform: translateY(-15px);

}





@-webkit-keyframes fadeup{
	from {
		-webkit-transform: translateY(80%);
		opacity: 0;
	}

	to{
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeup{
	from {
		transform: translateY(80%);
		opacity:0;
	}

	to{
		transform: translateY(0);
		opacity: 1;
	}
}





/* lower content ends*/
#contact-content{ /*container*/
	width:100vw;
	height:100vh;
	position:relative;
	z-index: 0;
	background: whitesmoke;
	display: flex;
	align-items:  center;
}

#contact-content cu {
	top:15%;
	width:100%;
	height: fit-content;
	position: absolute;
	text-align: center;
	font-size: xx-large;
	-webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}


.conbox{
	width: 100%;
	height: fit-content;
	min-height: 75%;
	top:25%;
	text-align: center;
	font-size: medium;
	display:inline-flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.form{
	width: 100%;
}

.form span{
	display: block;
	padding: 10px;

}
.form span >label{
	display: block;
	font-size: 1.5rem;
	padding: 10px;
	font-weight: 600;
}
.form span>input,textarea{
	width: 33%;
	height: 4.75vh;
	/*min-height: 50px;*/
	font-size: 1.25rem;
	border: none;
	color:#242526;
	background:#eaeaea;
	border-radius: 10px;
}
.form span>textarea{
	width: 50%;
	height: 35vh;
	resize: none;
	font-size: 1.45rem;
}
.form span>input,textarea:focus{
	outline-color: #242526;
}

.form span>button{
	width: 25%;
	height: 3.5vh;
	min-height: 50px;
	border-radius: 10px;
	font-size: 1.25rem;
	border: none;
	background: #eaeaea;
}

.follow-us{
	font-size: 3rem;
	width: 100%;
	display: inline-flex;
	place-content: center;
	place-items: center;
	padding-top: 20px;
	color: #242526;
}

.follow-us>div{
	width: 30%;
	display: flex;
	justify-content: space-evenly;
	height: fit-content;
}


.ficons{
	text-transform: none;
	text-decoration: none;
	color: unset;
}


#ftr{
	padding-top:3vh;
	height: 4.5vh;
    font-weight: 600;
    display: flex;
    place-content: center;
    place-items: center;
}
/*email verify section*/

#empop{
	position: fixed;
    width: 100vw;
    text-align: center;
    background: #242526;
    color: #f5f5f5;
	font-size: 1.5rem;
	transform: translateY(-100%);
	z-index:1;
}

/* */

/* toggle checked start*/
/*
#toggle-:checked ~ .star{
	color:white;
}


#toggle-:checked ~ .menu {
	background-color: #121212;
}

#toggle-:checked ~ .menu a {
	color:white;
	transition:0.5s;
}
*/

/*toggle checked end */

@media screen and (max-width:1600px){

	.menu a{
		font-size: 1.55rem;
	}

	#date{
		font-size: 3.25rem;
	}
	.abtsct>div{
		font-size: 3rem;
		padding: 20px;
	}
	#square{
		font-size: 5rem;
	}
	#H26{
		font-size: 5rem;
	}
	#logo{
		font-size: 2rem;
	}

} 

@media screen and (max-width:1366px){
	.abtsct>div{
		font-size: 2.65rem;
		padding: 15px;
	}
	.form span>input,textarea{
		width: 40%;
	}
	
}

@media screen and (max-width:768px){
	.menu{
		width: fit-content;
	}
	.menu a {
		font-size: 1.25rem;
		padding: 10px;
	}

	#logo{
		font-size: 1.95rem;
	}
	#date{
		text-orientation: unset;
		-webkit-text-orientation:unset;
		writing-mode: unset;
		-webkit-writing-mode:unset;
		bottom: 0;
		left: unset;
		color: #ffffff;
		animation: none;
	}

	#H26{
		animation: none;

	}

	.midback{
		width: 100%;
		height:100%;
		animation: none;
		border-radius: 0px;
	}

	#square{
		animation: none;
		font-size:5rem;
	}
	#lower-content{
		padding-top:1.5vh ;
	}
	.abtsct>div{
		font-size: 2rem;
		padding: 10px;
		margin: 0;
	}
	
	#contact-content cu {
		top:5%;
	}
	.conbox{
		top:10%;
	}

	.form span>input,textarea{
		width: 60%;
	}

	.form span>textarea{
		width: 75%;
		
	}

	.form span>button{
		width: 35%;
		
	}

	.follow-us>div{
		width: 40%;
		
	}	
}
@media screen and (max-width:425px){
	#H26{
		font-size: 2.5rem;
	}
}







